.Pull {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 300px;
  box-sizing: border-box;
  z-index: 100;
  transform: translateX(0px);
  transition: transform 1s;
  background-color: white;
}

.Pull.close {
  transform: translateX(-300px);
}
