.wrapper {
  background-image: url(../../images/boardBackground.jpg);
  background-size: cover;
  background-position-y: bottom;
  min-height: 100vh;
  height: fit-content;
  max-width: 100vw;
  header {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    padding-top: 20px;
    .logoutBtn {
      width: 75px;
      margin-left: 20px;
    }
  }
  .tasksLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px;
      margin-bottom: 10px;
      background-image: url(../../images/userNameBCKGRND.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      h1 {
        color: white;
        margin: 0;
      }
    }
    .boardsContainer {
      display: grid;
      align-items: start;
    }
  }
}

@media (min-width: 1601px) {
  .boardsContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1600px) {
  .boardsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1300px) {
  .boardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .boardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650) {
  .boardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
