.inputContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &.wrapLabel {
    flex-direction: column;
  }

  label {
    text-decoration: underline;
    margin: 10px 0px;
  }

  input,
  span {
    margin-left: 5px;
  }

  input,
  textarea {
    background-color: #bfffe8;
    border-radius: 5px;
  }

  span:hover {
    cursor: pointer;
  }

  .inputHide {
    display: none;
  }

  .inputShow {
    display: block;
    margin-bottom: 7px;
  }

  .textShow {
    display: block;
    word-wrap: break-word !important;
  }

  .textHide {
    display: none;
  }
}

.ifTextArea {
  flex-direction: column;
  align-items: flex-start;
}
