.dividerCustom {
  margin: 5px 0px;
}
.attention {
  width: fit-content;
  background-color: rgb(255, 136, 0);
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
}

.cardOnModal {
  padding: 20px;
  background-color: burlywood;
  border-radius: 10px;
  .dividerCustom {
    margin: 5px 0px;
  }
}

.blink {
  background: rgb(255, 82, 82);
  animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% {
    opacity: 0.4;
  }
}
