.SignInUpform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(45deg, #8a75756e 48%, #ffffff);
  border: 1px solid rgb(190, 183, 183);
  border-radius: 5px;
  padding: 50px;
  button {
    background-color: #00000085;
    border: 1px solid #612f0585;
    &:hover {
      background-color: #d18f15;
    }
  }
}
