.regLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../images/mainBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  width: 100vw;
  height: 100vh;
  .signInUpform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, #8a75756e 48%, #ffffff);
    border: 1px solid rgb(190, 183, 183);
    border-radius: 5px;
    padding: 50px;
    width: 425px;
    h1 {
      color: white;
    }
    label {
      display: block;
      width: 85px;
      text-align: right;
      margin-right: 0px;
      &::after {
        margin: 0px;
      }
    }
    button {
      width: 115px;
      background-color: #00000085;
      border: 1px solid #612f0585;
      &:hover {
        background-color: #d18f15;
      }
    }
  }
}
