.inputDateContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

label {
  text-decoration: underline;
  margin: 10px 0px;
}

.datePicker {
  background-color: #bfffe8;
  border-radius: 5px;
  width: 200px;
  margin: 0px;
  padding-right: 15px;
  margin-left: 5px;
}

.dateSpan {
  margin-left: 5px;
  &:hover {
    cursor: pointer;
  }
}

.textShow {
  display: block;
  word-wrap: break-word !important;
}

.textHide {
  display: none;
}

.inputHide {
  display: none;
}

.inputShow {
  display: block;
  margin-bottom: 7px;
}

.popUp {
  background-color: red;
}
