@import '../../../lessVariables.less';

.inputDateContainer {
  .pos-left-center;
}

label {
  text-decoration: underline;
  margin: 10px 0px;
}

.datePicker {
  background-color: @inputs-background-color;
  border-radius: 5px;
  width: 125px;
  margin: 0px;
  padding-right: 15px;
  margin-left: 5px;
}

.dateSpan {
  margin-left: 5px;
  &:hover {
    cursor: pointer;
  }
}

.textShow {
  display: block;
  word-wrap: break-word !important;
}

.textHide {
  display: none;
}

.inputHide {
  display: none;
}

.inputShow {
  display: block;
}

:global .ant-picker-panel-container {
  background-color: @inputs-background-color;
  border-radius: 5px;
}

:global .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  background-color: aqua;
  z-index: -1;
}

:global .ant-picker-cell-inner {
  color: black;
}
