.Card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 7px;
  border: 1px solid rgb(216, 209, 209);
  border-radius: 10px;
  transition: all 0.1s;
  &:hover {
    transform: scale(1.02);
  }
  .cardButtonContainer {
    display: flex;
    justify-content: flex-end;
  }
}
