.Burger {
  font-size: 32px;
  position: fixed;
  top: 30px;
  left: 30px;
  cursor: pointer;
  z-index: 150;
  transition: all 2s;
}

.Burger:hover {
  opacity: 0.6;
  transform: rotate(0.5turn);
}

.Burger.open {
  left: 300px;
}
