.selectContainer {
  display: flex;
  justify-content: flex-start;
  label {
    text-decoration: underline;
  }
  select,
  span {
    margin-left: 5px;
  }
  span:hover {
    cursor: pointer;
  }
  .selectHide {
    display: none;
  }

  .selectShow {
    display: block;
  }

  .textShow {
    display: block;
  }

  .textHide {
    display: none;
  }
}
