.selectContainer {
  display: flex;
  justify-content: flex-start;
  label {
    text-decoration: underline;
  }
  select,
  span {
    margin-left: 5px;
  }

  // select {
  //   background-color: #bfffe8;
  //   border-radius: 10px;
  // }
  // option {
  //   background-color: #bfffe8;
  // }

  span:hover {
    cursor: pointer;
  }
  .selectHide {
    display: none;
  }

  .selectShow {
    display: block;
  }

  .textShow {
    display: block;
  }

  .textHide {
    display: none;
  }
}
